.checkInStudentDisplayPage {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: calc(128 * var(--unit));

    .title {
        width: calc(416 * var(--unit));
        height: calc(32 * var(--unit));
        margin: calc(136 * var(--unit)) auto 0 auto;
        display: flex;
        align-items: center;
        font: 500 calc(24 * var(--unit)) 'Prompt';
        color: var(--b8);
    }

    .description {
        width: calc(416 * var(--unit));
        height: calc(32 * var(--unit));
        margin: calc(8 * var(--unit)) auto 0 auto;
        display: flex;
        align-items: center;
        font: 500 calc(20 * var(--unit)) 'Prompt';
        color: var(--b8);
    }

    .nameListTitle {
        width: calc(416 * var(--unit));
        height: calc(32 * var(--unit));
        margin: calc(32 * var(--unit)) auto 0 auto;
        display: flex;
        align-items: center;
        font: 500 calc(20 * var(--unit)) 'Prompt';
        color: var(--b8);
    }

    .studentContainer {
        width: calc(416 * var(--unit));
        height: auto;
        margin: calc(40 * var(--unit)) auto 0 auto;
    }
}