.homePage {
    .heroSection {
        width: 100vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        background: linear-gradient(var(--primary), var(--primary-variant));
    }

    .header {
        width: calc(416 * var(--unit));
        height: calc(352 * var(--unit));
        padding: calc(80 * var(--unit)) 0 0 0;
        margin: auto;
        display: flex;
        align-items: center;
        font: 600 calc(64 * var(--unit)) 'Prompt';
        color: var(--b0);
    }

    .schoolName {
        width: calc(416 * var(--unit));
        height: calc(40 * var(--unit));
        margin: auto auto calc(16 * var(--unit)) auto;
        display: flex;
        align-items: center;
        font: 400 calc(24 * var(--unit)) 'Satoshi';
        color: var(--b0);
    }

    .actionSection {
        width: 100vw;
        height: 25vh;
        display: grid;
        place-content: center;
    }
}