.button200 {
    .buttonContainer {
        width: calc(416 * var(--unit));
        height: calc(64 * var(--unit));
        display: grid;
        place-content: center;
        font: 500 calc(20 * var(--unit)) 'IBM Plex Sans Thai';
        color: var(--b8);
        background: var(--b0);
        border: calc(0.8 * var(--unit)) solid var(--b8);
        border-radius: calc(32 * var(--unit));
    }

    .buttonContainer:hover {
        transform: scale(1.01);
        transition: 0.3s;
    }
}