.noSupport {
    width: 100vw;
    height: 100vh;
    background: var(--alert);
    display: flex;
    flex-direction: column;

    .noSupportImage {
        width: calc(128 * var(--unit));
        height: calc(128 * var(--unit));
        margin: calc(234 * var(--unit)) auto 0 auto;
    }

    .noSupportDescription{
        width: 100vw;
        height: calc(128 * var(--unit));
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font:500 calc(24 * var(--unit)) 'Prompt';
        color: var(--b0);
    }
}